{% extends "blog/base.html" %}

{% block content %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('/static/img/about.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Acerca de mi</h1>
                    <span class="subheading">Conoceme!</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Hola! mi nombre es Uriel y soy un Ingeniero en Electronica al que le gusta programar por diversion.
            Aunque tambien lo hago profesionalmente.</p>
            <p>Tengo un perro que se llama Kito y es compa, buen bicho.</p>
            <p>Soy fanatico del futbol, tambien me gusta escuchar podcasts, 
            jugar videojuegos, sacar a pasear a mi perro, etc.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h2>FAQ</h2>
            <br>
            <b>Porque el rincon del manco?</b>
            <br>
            Yo que se xd.
            <br><br>
            <b>Equipo de futbol favorito?</b>
            <br>
            Real Madrid
            <br><br>
            <b>Podcasts favoritos?</b>
            <br>
            Mis podcasts favoritos y los que recomiendo son:
            <ul>
                <li><i>el radio de richard dees</i> - Critica a la prensa deportiva de España.</li>
                <li><i>This American Life</i> - Reportajes sobre diferentes temas.</li>
                <li><i>Science vs</i> - Reportajes en los que se trata de investigar si ciertos mitos son reales, usando la ciencia claro.</li>
                <li><i>last podcast on the left</i> - reportajes sobre asesinos en serie famosos.</li>
                <li><i>Spooked</i> - Relatos de personas que vivieron sucesos paranormales.</li>
                <li><i>Cults</i> - Historias y reportajes sobre diferentes cultos que han existido.</li>
                <li><i>Dirty John</i> - Una serie de crimen que sigue a una señora que se casa con el hombre de sus sueños,
                                        aunque no todo es lo que parece...</li>
            </ul>
            <br><br>
            <b>Videojuegos favoritos?</b><br>
            Mis videojuegos favoritos son:
            <ul>
                <li><i>Final Fantasy</i> - todos los juegos hasta el 12, de ahi para arriba como que no existen.</li>
                <li><i>Dragon Quest</i> - todos los que han salido de la saga principal.</li>
                <li><i>Silent hill</i> - Del uno al tres y tal vez el origins, los demas como que no existen.</li>
                <li><i>Fatal frame</i> - el uno y el dos, no he probado los demas.</li>
                <li><i>Shadow of the colossus</i> - siempre y cuando no seas un graphic-whore al 
                                                    que solo le importan los graficos.</li>
                <li><i>The legend of zelda</i> - ni lo queria poner porque es demasiado obvio.</li>
                <li><i>Super Mario</i> - TODOS.</li>
                <li><i>Donkey Kong 64</i> - gran juego de mi infancia.</li>
                <li><i>Banjo-Kazooie</i> - otro increible juego. No he jugado a Banjo-Tooie.</li>
            </ul>
            Uff hay demasiados, pero por el momento no me apetece ponerlos todos, ya ire aumentando la lista.
            <br><br>
            <b>Comida favorita?</b><br>
            <ul>
                <li>Pizza</li>
                <li>Hamburguesa</li>
                <li>Pollo frito</li>
                <li>Tacos</li>
                <li>Hot Dogs</li>
            </ul>
            <br><br>
            <b>Crees en dios?</b><br>
            Dificil decir, creo que puede existir dios, pero me parece que es una posibilidad ridiculamente pequeña.
            No lo descarto ni me cierro a la probabilidad de que exista, pero pienso que existen otras teorias
            mucho  mas viables, que el hecho de que en el cielo se encuentre un ente o lo que sea viendo mientras nos
            masturbamos.
            <br><br>
            <b>Cual es el significado de la vida?</b><br>
            No hay un significado y/o proposito mas alla del que nos da la naturaleza.
        </div>
    </div>
</div>

{% endblock %}
